.row

  .columns.small-10.small-centered.large-8.panel.radius

    %h3 Preservation, Beautification, Conservation

    %p
      Whether it’s high-value art, a child’s priceless painting, a hard-won qualification, or a precious piece of memorabilia, Borderline Framing’s creative framing solutions will ensure your framed pieces give pleasure for years to come.

.row
  .columns.large-6.large-centered

    %ul.services
      %li <b>Customised framing</b> to fit all sizes and dimensions
      %li <b>Artwork preparation</b> for exhibition
      %li 2D and 3D framing and presentation
      %li <b>Conservation framing</b> to archival standards
      %li <b>Picturing hanging</b> & installation
      %li Corporate & commercial framing
      %li Frame and glass <b>repairs</b>
      %li A 20% <b>discount for framing children’s art work</b>
      %li <b>Expert advice</b> from 25 years of framing experience.

.row

  .columns.large-8.large-centered

    = quote "Campbell McLean, Borderline Framing" do

      %p
        Picture framing isn't rocket science – anyone can learn to put four sticks together. The name of the framing game is quality and preservation.

      %p
        Your mementoes are precious and artwork is expensive, which is why you need a professional framer to preserve and beautify your pieces. Professional framing transforms what’s precious to you and preserves it for generations.
