.nowrap {
  white-space: nowrap;
}

.row.top {
  h1 {
    margin: 0;
  }
  margin: 1em 0;
}

img.logo {
  max-height: 2em;
}

ul.horizontal-menu {

  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  border: solid #ccc;
  border-width: 1px 0;

  li {
    display: inline-block;
  }

  li:after {
    content: "\2014";
    color: #ccc;
    padding: 0.6em;
  }

  li:last-child:after {
    content: "";
  }

  padding: 0.5em;
  margin-bottom: 2em;

}

blockquote {

  color: #666;
  border: 0;

  cite {
    text-align: right;
    font-size: 1em;
    color: #999;
  }

}

.vcard {
  [class*="foundicon-"] {
    color: #999;
    vertical-align: text-top;
    margin: 2px;
  }
}

footer {
  background: #333;
  color: #ddd;
  padding-top: 0.8em;
  .vcard {
    border: 0;
    .adr {
      display: inline-block;
    }
  }
}
