@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic);

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans", "Helvetica Neue", sans-serif;
}

.nowrap {
  white-space: nowrap;
}

.row.top {
  h1 {
    margin: 0;
  }
  margin: 1em auto;
}

img.logo {
  max-height: 2em;
}

ul.horizontal-menu {

  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  border: solid #ccc;
  border-width: 1px 0;

  li {
    display: inline-block;
  }

  li:after {
    content: "\2014";
    color: #ccc;
    padding: 0.6em;
  }

  li:last-child:after {
    content: "";
  }

  padding: 0.5em;
  margin-bottom: 2em;

}

blockquote {

  color: #666;
  border: 0;

  cite {
    text-align: right;
    font-size: 1em;
    color: #999;
  }

}

.vcard {
  background: #eee;
  li {
    white-space: nowrap;
  }
  [class*="foundicon-"] {
    color: #999;
    vertical-align: text-top;
    margin: 2px;
  }
}

.map {
  margin-bottom: 1em;
  border: 1px solid #999;
  padding: 10px;
}

section {

  border-top: 1px solid #999;
  padding: 1em 0;

}
