.row.top

  .columns
    %h1.nowrap
      %img.logo{ src: href("logo.png") }
      Borderline Framing

.row.navigation

  .columns

    %nav
      %ul.horizontal-menu
        %li= link("/", "Home")
        %li= link("/testimonials.html", "Testimonials")
        %li= link("/contact.html", "Contact")
