!!!
%html

  %head
    %meta{ :"http-equiv"=>"Content-Type", :content=>"text/html; charset=UTF-8" }/
    %meta{ name: "viewport", content: "width=device-width" }/
    %title= page.title || "Borderline Framing"
    %link{ href: href("css/normalize.css"), rel: "stylesheet", type: "text/css" }
    %link{ href: href("css/foundation.css"), rel: "stylesheet", type: "text/css" }
    %link{ href: href("assets/style.css"), rel: "stylesheet", type: "text/css" }
    %script{ src: "js/vendor/custom.modernizr.js" }
    ~ content_for[:head]

  %body{:class => @body_class}

    .container
      ~ yield
