!!!
%html

  %head
    %meta{ :"http-equiv"=>"Content-Type", :content=>"text/html; charset=UTF-8" }/
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/
    %title= page.title || "Borderline Framing"
    %link{ :href=>href("assets/bootstrap/css/bootstrap.css"), :rel=>"stylesheet", :type=>"text/css" }
    %link{ :href=>href("assets/bootstrap/css/bootstrap-responsive.css"), :rel=>"stylesheet", :type=>"text/css" }
    %link{ :href=>href("assets/style.css"), :rel=>"stylesheet", :type=>"text/css" }
    ~ content_for[:head]

  %body{:class => @body_class}

    .container
      ~ yield
