---
layout: "/_layout.html.haml"
title: Contact
...

.row

  .columns.large-5.large-offset-1.text-center

    %p
      %b Contact us ...

    ~ include("/_partials/vcard.html.haml")

  .columns.large-6.text-center
    .map
      ~ include("/_partials/map.html")
