---
layout: "/_layout.html.haml"
...

%section
  .row
    .columns
      %h2 Welcome
  = include("/_sections/intro.html.haml")

%section
  .row
    .columns
      %h2 Testimonials
  = include("/_sections/testimonials.html.haml")

%section
  .row
    .columns
      %h2 Contact info
  = include("/_sections/contact.html.haml")
