---
layout: "/_layout.html.haml"
...

.row

  .columns
    %h1
      %img{ src: href("logo.png") }
      %span.nowrap Borderline Framing

.contain-to-grid.sticky
  .nav.top-bar
    %section.top-bar-section
      %ul.left
        %li
          %a Main
        %li.divider
        %li
          %a Second

.row

  .columns.large-5.panel

    %h3 Preservation, Beautification, Conservation

    %p
      Whether it’s high-value art, a child’s priceless painting, a hard-won qualification, or a precious piece of memorabilia, Borderline Framing’s creative framing solutions will ensure your framed pieces give pleasure for years to come.

  .columns.large-6

    %h3 We offer

    %ul.push-1
      %li Customised framing to fit all sizes and dimensions
      %li Artwork preparation for exhibition
      %li 2D and 3D framing and presentation
      %li Conservation framing to archival standards
      %li Picturing hanging & installation
      %li Corporate & commercial framing
      %li Frame and glass repairs
      %li A 20% discount for framing children’s art work
      %li Expert advice from 25 years’ framing experience.

.row

  .columns.large-8.large-centered
    .panel

      %p
        "Picture framing isn't rocket science – anyone can learn to put four sticks together. But the name of the framing game is quality and preservation.

      %p
        "Your mementoes are precious and artwork is expensive, which is why you need a professional framer to preserve and beautify your pieces. Professional framing transforms what’s precious to you and preserves it for generations."

      %p
        %em Campbell McLean, Borderline Framing

  .columns.large-8

/ Contact: Campbell MacLean by email or phone 04 3848 569/027 3848 055
/ Address: 5 Anderson Tce, Mt Cook, Wellington 6021
