---
layout: "/_layout.html.haml"
...

%section#intro
  = include("/_sections/intro.html.haml")

%section.darker#contact
  .row
    .columns
      %h2 Contact info
  = include("/_sections/contact.html.haml")

%section.odd#testimonials
  .row
    .columns
      %h2 Testimonials
  = include("/_sections/testimonials.html.haml")
