%footer

  .row
    .columns
      %i.icon.foundicon-phone
      %span.tel 027 3848 055

  .row
    .columns.large-6
      %i.icon.foundicon-mail
      %a.email(href="mailto:cmaclean@borderlineframing.co.nz") cmaclean@borderlineframing.co.nz
