%ul.vcard
  %li.fn Campbell MacLean
  %li
    %i.foundicon-mail
    %a.email(href="mailto:cmaclean@borderlineframing.co.nz") cmaclean@borderlineframing.co.nz
  %li
    %i.foundicon-phone
    %span.tel 027 3848 055
  %li
    %i.foundicon-location
    %span.adr 5 Anderson Tce, Mt Cook
